
<div id="ProductDataGridPanel"></div>


<script type="text/javascript">
    //$(document).ready(function () {

    //    var data = [{ "ProductId": "P1234", "ProductName": "Name123" }, { "ProductId": "P122222", "ProductName": "Name1113" }];

    //    $("#ProductDataGridPanel").kendoGrid({
    //        dataSource: data,
    //        schema: {
    //            model: {
    //                fields: {
    //                    ProductId: { type: "string" },
    //                    ProductName: { type: "number" }
    //                }
    //            }
    //        }
    //    });
    //});
</script>